@page "/checkout"

@using Libros.Shared.Services

@inject CartService CartService


<h1 style="text-align:center">  Carrito de compras  </h1>

<h3> Tienes @CartService.SelectedItems.Count libros en tu carrito de compras:</h3>
<ProductList Products="CartService.SelectedItems"></ProductList>