@page "/Counter"

@using Libros.Shared.Models
@using Libros.Shared.Services

<PageTitle>Catálogo</PageTitle>


<h1 style="text-align:center">  Catálogo  </h1>
<ProductList Products="Products" DisplayBuyButton="true"></ProductList>


@code {
    public List<Product> Products { get; set; } = ProductProviderService.Products.ToList();
}
